<div class="mx-0 px-0">
  <div class="col-12 row row-offcanvas row-offcanvas-right mt-3 mb-3 mx-0 px-0">
    <div class="col-2 mt-1 ml-0 pl-0 mr-auto">
      <strong>Produk Promo:</strong>
    </div>
    <div class="col-2 mr-0 pr-0 float-right">
      <a href="#!categories/sport" class="btn btn-sm btn-outline-secondary float-right">Lihat Semuanya</a>
    </div>
  </div>

  <div class="card-group">
    <div class="card" ng-repeat="(kunci, sale) in _Push">
      <a href="#!category/{{ sale.slug }}" class="d-inline-block">
        <img class="card-img-top" src="assets/images/blank-card.svg" alt="Card image cap">
      </a>
    </div>
  </div>
</div>